/* General styling for the services component */
.Services {
  display: flex;
  margin-top: 50px;
  gap:20px;
  justify-content: space-between;
  }


  .PageTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: var(--text-color);
  }


  /* Responsive Design */
  @media (max-width: 768px) {
    .Services {
      display: flex;
      flex-direction: column;
    }
  }
