.Toolbar {
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 82;

}



@media (max-width: 500px ){
    .HideOnMobile{
        display: none;
    }
}

@media (min-width: 500px ){
    .HanburgerMenu{
        display: none;
    }
}
