.ContactPage {
  padding: 4px;
  background-color: #f9f9f9;
  margin-top: 10vh;
}

.ContactWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}

.ContactWrapper > div {
  flex: 1;
}

.ContactWrapper > div:first-child {
  flex: 1; /* ContactForm will take up twice as much space */
}

.ContactWrapper > div:last-child {
  flex: 2; /* GoogleMap will take up less space */
}

@media (max-width: 768px) {
  .ContactWrapper {
    flex-direction: column;

  }

}
