.footercontainer {
    background-color:var(--dark-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 3vh;
  }

  .footercontainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerlinks {
    margin-bottom: 20px;
  }

  .footerlink {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    transition: color 0.1s ease;
    font-size: 2vh;
  }

  .footerlink:hover {
    color: var(--secondary-color);
  }

  .footersocial a {
    margin: 0 10px;
    font-size: 4vh;
    color: white;
    transition: color 0.1s ease;
  }

  .footersocial a:hover {
    color:var(--button-color);
  }

  .footercopyright p {
    margin-bottom: 10;
    font-size: 2vh;
  }

  @media (max-width: 768px) {
    .footercontainer {
      flex-direction: column;
    }

    .footerlinks {
      margin-bottom: 15px;
    }

    .footerlink {
      display: block;
      margin-bottom: 10px;
    }

    .footersocial {
      margin-bottom: 10px;
    }
  }
